<div class="sidenav">
  <mat-form-field appearance="fill">
    <mat-label>BS/WS</mat-label>
    <mat-select [(value)]="attackSkill">
      <mat-option value="2+">2+</mat-option>
      <mat-option value="3+">3+</mat-option>
      <mat-option value="4+">4+</mat-option>
      <mat-option value="5+">5+</mat-option>
      <mat-option value="6+">6+</mat-option>
    </mat-select>
  </mat-form-field>

  <p>Re-rolls:</p>
  <section class="section">
    <mat-radio-group [(ngModel)]="reroll">
      <mat-radio-button value="none">
        None
      </mat-radio-button>
      <mat-radio-button value="ones">
        Ones
      </mat-radio-button>
      <mat-radio-button value="all">
        All
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <mat-slide-toggle [(ngModel)]="rerollOne">One</mat-slide-toggle>
</div>
