<div class="sidenav">
  <mat-form-field appearance="fill">
    <mat-label>Attack Skill (BS/WS)</mat-label>
    <mat-select [(value)]="attackSkill">
      <mat-option value="2+">2+</mat-option>
      <mat-option value="3+">3+</mat-option>
      <mat-option value="4+">4+</mat-option>
      <mat-option value="5+">5+</mat-option>
      <mat-option value="6+">6+</mat-option>
    </mat-select>
  </mat-form-field>

  <p>Re-rolls:</p>
  <section class="section">
    <mat-radio-group [(ngModel)]="reroll">
      <mat-radio-button value="none">
        None
      </mat-radio-button>
      <mat-radio-button value="ones">
        Ones
      </mat-radio-button>
      <mat-radio-button value="all">
        All
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <mat-slide-toggle [(ngModel)]="rerollOne">One</mat-slide-toggle>
  <br/>
  <p>Weapons:</p>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="1">
      Content 1
    </mat-tab>
    <mat-tab label="2">
      Content 2
    </mat-tab>
    <mat-tab label="3">
      Content 3
    </mat-tab>
    <mat-tab label="4">
      Content 4
    </mat-tab>
    <mat-tab label="5">
      Content 5
    </mat-tab>
    <mat-tab label="6">
      Content 6
    </mat-tab>
    <mat-tab label="7">
      Content 7
    </mat-tab>
    <mat-tab label="8">
      Content 8
    </mat-tab>
  </mat-tab-group>
</div>
