<div class="sidenav">
  <mat-form-field appearance="fill">
    <mat-label>Attack Skill (BS/WS)</mat-label>
    <mat-select [(value)]="attackSkill">
      <mat-option value="2+">2+</mat-option>
      <mat-option value="3+">3+</mat-option>
      <mat-option value="4+">4+</mat-option>
      <mat-option value="5+">5+</mat-option>
      <mat-option value="6+">6+</mat-option>
    </mat-select>
  </mat-form-field>

  <p>To-hit re-rolls:</p>
  <section class="section">
    <mat-radio-group [(ngModel)]="reroll">
      <mat-radio-button value="none">
        None
      </mat-radio-button>
      <mat-radio-button value="ones">
        Ones
      </mat-radio-button>
      <mat-radio-button value="all">
        All
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <mat-slide-toggle [(ngModel)]="rerollOne">One</mat-slide-toggle>
  <br/>
  <p>Weapons:</p>
  <mat-tab-group animationDuration="0ms"
                 [selectedIndex]="selected.value"
                 (selectedIndexChange)="selected.setValue($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      <br/>
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput [(value)]="name"
               type="text"
               placeholder="Bolt Gun"
               maxlength="25"
               autocomplete="off"
        />
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width">
        <mat-label>Attacks</mat-label>
        <input matInput [(value)]="attacks"
               type="text"
               placeholder="##"
               maxlength="2"
               inputmode="numeric"
               pattern="[0-9]*"
               autocomplete="off"
               digitOnly
        />
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width">
        <mat-label>Strength</mat-label>
        <input matInput [(value)]="strength"
               type="text"
               placeholder="##"
               maxlength="2"
               inputmode="numeric"
               pattern="[0-9]*"
               autocomplete="off"
               digitOnly
        />
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width">
        <mat-label>Armour Penetration</mat-label>
        <input matInput [(value)]="AP"
               type="text"
               placeholder="#"
               maxlength="1"
               inputmode="numeric"
               pattern="[0-8]*"
               autocomplete="off"
               digitOnly
        />
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width">
        <mat-label>Damage</mat-label>
        <input matInput [(value)]="damage"
               type="text"
               placeholder="##D#"
               maxlength="4"
               pattern="[0-9dD]*"
               autocomplete="off"
        />
      </mat-form-field>
      <br/>
    </mat-tab>
  </mat-tab-group>
</div>
