.form mat-slide-toggle {
  margin-left: 8px;
  margin-right: 8px;
  display: block;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 8px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 0px;
}

.mat-radio-button {
  margin-left: 8px;
  margin-right: 8px;
}

.mat-slide-toggle {
  display: flex;
  align-content: center;
  margin-left: 8px;
  margin-right: 8px;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
 min-width: 26px!important;
 padding: 3px!important;
 margin: 3px!important;
}

.sidenav {
  margin-left: 8px;
  margin-right: 8px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.full-width {
  width: 100%;
}
